.App {
  text-align: left;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(211, 243, 96);
}

.nav-links {
  width: 40%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  list-style: none;
}

.nav-style {
  text-decoration: none;
  color: black;
}
